<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.dappworld.sudoku">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="tech.dappworld.sudoku.Sudoku"
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="tech.dappworld.sudoku.About"
            android:label="@string/about_title"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name="tech.dappworld.sudoku.Prefs"
            android:screenOrientation="landscape"
            android:label="@string/settings_title" >
        </activity>
        <activity android:name="tech.dappworld.sudoku.Game"
            android:screenOrientation="landscape"
            android:label="@string/game_title" >
        </activity>
    </application>

</manifest>